@media only screen and (max-width: 519px) {

  

    #navbar a{
        font-size: 0.7em;
    }
    .mainContent{
        font-size: 0.9em;
    
        width: 300px;
    }
    img{
        width: 250px;
    }
    #rightbutton{
        position: relative;
        left: 180px;
      } 
    }
